html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
* {margin:0; padding:0}

h1, h2, h3 {
    margin-left: 5%;
    padding: 4vh 0 3.5vh;
}

.one {
    width: 40%;
}
.button {
    padding: 20px 20px 23px;
    margin: 3vh 0 4vh 5%;
    margin-bottom: 3vh;
    border: none;
    border-radius: 16px;
    width: 20%;
    height: 10vh;
    background: tomato;
}
input {
    font-size: 1.2em;
    padding: 12px;
    margin-left: 3%;
}

/*

/*Large Desktop*
@media (min-width:1200px) {
    
}
/*Normal Desktop*
@media (min-width:1024px) and (max-width:1199px) {
    
}
/*small desktop*
@media (min-width:980px) and (max-width:1023px) {
    
}
/*For tablet *
@media (min-width:768px) and (max-width:979px)  {
    
}
/*For Mobile landscape *
@media (min-width:480px) and (max-width:767px)  {
    
}
/*For Mobile  *
@media (min-width:320px) and (max-width:479px)  {
}
